## Predicting Survival Rate
***

In [1]:
import numpy as np 
import pandas as pd

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression

# KNN or k-Nearest Neighbors
# Support Vector Machines
# Naive Bayes classifier
# Decision Tree
# Neural Network
# Relevance Vector Machine

In [2]:
df = pd.read_csv('data/titanic_clean.csv')

In [3]:
df

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_Q,Embarked_S,Title_Master,Title_Mr,Title_Mrs,Title_Ms,Title_Sir
0,0,3,1,22.0,1,0,7.2500,0,1,0,1,0,0,0
1,1,1,0,38.0,1,0,71.2833,0,0,0,0,1,0,0
2,1,3,0,26.0,0,0,7.9250,0,1,0,0,0,1,0
3,1,1,0,35.0,1,0,53.1000,0,1,0,0,1,0,0
4,0,3,1,35.0,0,0,8.0500,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,1,27.0,0,0,13.0000,0,1,0,1,0,0,0
887,1,1,0,19.0,0,0,30.0000,0,1,0,0,0,1,0
888,0,3,0,28.0,1,2,23.4500,0,1,0,0,0,1,0
889,1,1,1,26.0,0,0,30.0000,0,0,0,1,0,0,0
890,0,3,1,32.0,0,0,7.7500,1,0,0,1,0,0,0

In [ ]:
X = df.drop(columns='Survived')
y = df['Survived']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=33)

In [ ]:
logres_model = LogisticRegression(max_iter=300, n_jobs=-1)

In [ ]:
logres_model.fit(X_train, y_train)

In [ ]:
# First score w (max_iter=300, n_jobs=-1): 0.8699551569506726
logres_model.score(X_test, y_test)